# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: valgrind incremental checks

permissions:
  # Grant read permissions to repository in case it is not a forked public
  # repository, but a private repository that was created manually.
  contents: read

  # Grant read permissions to private container images.
  packages: read

on:
  pull_request:
    paths:
      - '**'
      - '!**.md'
      - '!**/.clang-format'
      - '!**/COPYING'
      - '!**/LICENSE'
      - '!.github/**'
      - '.github/workflows/valgrind.yml'
      - '!.gitignore'
      - '!cmake/manifests/**'
      - 'cmake/manifests/linux/**'
      - '!container/**'
      - '!docs/**'
      - '!scripts/**'

jobs:
  build:
    runs-on: ubuntu-20.04

    container:
      image: ghcr.io/intel/fpga-runtime-for-opencl/ubuntu-20.04-dev:main

    env:
      TMP_DIR: /home/build/

    steps:
      - name: change ownership of workspace to current user
        run: sudo chown -R build:build .

      - name: install valgrind
        run: sudo apt-get install -y valgrind

      - name: checkout current branch
        uses: actions/checkout@v2

      - name: checkout main branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.base_ref }}
      
      - name: create build directories
        run: mkdir "$TMP_DIR/child_build" "$TMP_DIR/parent_build"

      - name: create parent build files
        run: cd "$TMP_DIR/parent_build" && cmake -G Ninja "$GITHUB_WORKSPACE" -DCMAKE_BUILD_TYPE=Debug

      - name: build parent runtime
        run: cd "$TMP_DIR/parent_build" && ninja -v -k0

      - name: parent runtime valgrind scan
        run: cd "$TMP_DIR/parent_build" && ctest --overwrite MemoryCheckCommandOptions="--leak-check=full --show-reachable=yes --error-limit=no --gen-suppressions=all" -T memcheck

      - name: checkout current branch
        uses: actions/checkout@v2

      - name: get parent valgrind suppression file
        run: |
          cat "$TMP_DIR/parent_build/Testing/Temporary/MemoryChecker.6.log" | ./scripts/parse_valgrind_suppressions.sh > "$TMP_DIR/valgrind_suppression.supp"

      - name: create child build files
        run: cd "$TMP_DIR/child_build" && cmake -G Ninja "$GITHUB_WORKSPACE" -DCMAKE_BUILD_TYPE=Debug

      - name: build child runtime
        run: cd "$TMP_DIR/child_build" && ninja -v -k0

      - name: child runtime valgrind scan
        run: cd "$TMP_DIR/child_build" && ctest --overwrite MemoryCheckCommandOptions="--leak-check=full --show-reachable=yes --error-limit=no" --overwrite MemoryCheckSuppressionFile="$TMP_DIR/valgrind_suppression.supp" -T memcheck

      - name: upload valgrind report as manifest
        uses: actions/upload-artifact@v2
        with:
          name: valgrind-${{ github.run_id }}
          path: /home/build/child_build/Testing/Temporary/MemoryChecker.6.log

      - name: valgrind incremental
        run: |
          if [ -s "$TMP_DIR/child_build/Testing/Temporary/MemoryChecker.6.log" ]; then
            # The valgrind log after suppressing all parent log is not empty
            cat "$TMP_DIR/child_build/Testing/Temporary/MemoryChecker.6.log"
            exit 1
          fi
          

      - name: revert ownership of workspace to root
        run: sudo chown -R root:root .
        if: always()